@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 224 71.4% 4.1%;

        --card: 0 0% 100%;
        --card-foreground: 224 71.4% 4.1%;

        --popover: 0 0% 100%;
        --popover-foreground: 224 71.4% 4.1%;

        --primary: 220.9 39.3% 11%;
        --primary-foreground: 210 20% 98%;

        --secondary: 220 14.3% 95.9%;
        --secondary-foreground: 220.9 39.3% 11%;

        --muted: 220 14.3% 95.9%;
        --muted-foreground: 220 8.9% 46.1%;

        --accent: 220 14.3% 95.9%;
        --accent-foreground: 220.9 39.3% 11%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 20% 98%;

        --border: 220 13% 91%;
        --input: 220 13% 91%;
        --ring: 224 71.4% 4.1%;

        --radius: 0.5rem;
    }

    .dark {
        --gradient: linear-gradient(to top left, #1488cc, #2b32b2);

        --background: 215 53.3% 3.52%;
        --foreground: 215 8.2% 97.2%;

        --muted: 215 41% 13.2%;
        --muted-foreground: 215 8.2% 54.4%;

        --popover: 215 48.6% 5.72%;
        --popover-foreground: 215 8.2% 97.2%;

        --card: 215 48.6% 5.72%;
        --card-foreground: 215 8.2% 97.2%;

        --border: 215 41% 13.2%;
        --input: 215 41% 13.2%;

        --primary: 215 82% 44%;
        --primary-foreground: 215 8.2% 97.2%;

        --secondary: 215 41% 13.2%;
        --secondary-foreground: 215 8.2% 97.2%;

        --accent: 215 41% 13.2%;
        --accent-foreground: 215 8.2% 97.2%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 215 8.2% 97.2%;

        --ring: 215 82% 44%;
        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply dark border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
body,
html {
    background-color: linear-gradient(to top left, #1488cc, #2b32b2);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 1rem;
}
::-webkit-scrollbar {
    width: 0.4rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    filter: brightness(10);
    background: #cccaca;
}

.EmojiPickerReact.epr-dark-theme {
    --epr-bg-color: var(--background);
    --epr-category-label-bg-color: var(var(--background));
}
